p{
    text-align: center; // For Heading - month and year of displaying expenses
    font-weight: bolder;
    font-size: 1.5rem;
}

.chartdiv{ // css for graph
    width: 70%;
    height: 500px;
    margin: auto;
}